<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="title">
       <a href="#"><%= image_tag 'title_logo.png' %></a>
      </div>
      <nav>
        <ui class="global nav">
          <li><%= link_to 'Add Books', root_path %></li>
          <li><%= link_to 'Post Review', root_path %></li>
          <li><%= link_to 'Analysis', root_path %></li>
        </ui>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
